html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 260px;
}

@media(max-width:767px) {
    body {
        padding-bottom: 380px;
    }
}

.navbar-default {
    background-color: #FFC107;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #E8AF05;
    color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #439c46;
    color: #FFFFFF;
}

.navbar {
    -webkit-box-shadow: none;
    border-radius: 0px !important;
}

.navbar a.navbar-brand {
    padding: 9px 15px 8px;
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

#navbar-image-main {
    height: 45px !important;
    display: inline-block;
}

.icon-bar {
    background-color: white !important;
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: #F2B705;
        border-color: transparent;
    }
}

footer {
    background-color: #FFC107;
    color: #545454;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-section h1,
.footer-section h2,
.footer-section h3,
.footer-section h4,
.footer-section h5,
.footer-section h6 {
    color: black;
}

.footer-section {
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
}

.footer-section a {
    color: #545454;
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    background-color: #e2ac0a;
    padding-bottom: 10px;
    color: white;
}

@media (max-width: 768px) {
    .text-left {
        text-align: center;
    }
    .text-right {
        text-align: center;
    }
}

::-webkit-scrollbar-track {
    background-color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb {
    background-color: #FF8800;
}

small {
    color: #a7a7a7;
}

#template_calendar_card,
#template_news_card,
#template_carousel_card {
    display: none;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}

#loader_cursor {
    animation: loaderfade 500ms ease-out 0s alternate infinite;
    -webkit-animation: loaderfade 500ms ease-out 0s alternate infinite;
    -moz-animation: loaderfade 500ms ease-out 0s alternate infinite;
    -o-animation: loaderfade 500ms ease-out 0s alternate infinite;
}

@-webkit-keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

@-o-keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

@keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

#loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1370;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: none;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.alert-info {
    background-color: #2196f3;
}

.alert a,
.carousel-caption a {
    color: white;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .carousel-caption {
        left: 0;
        right: 0;
    }
}
