html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 80px;
}

.navbar-default {
    background-color: #FFC107;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #EDB407;
    color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #439c46;
    color: #FFFFFF;
}

.navbar {
    -webkit-box-shadow: none;
    border-radius: 0px !important;
}

.navbar a.navbar-brand {
    padding: 9px 15px 8px;
}

#navbar-image-main {
    height: 45px !important;
}

.icon-bar {
    background-color: white !important;
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: #ff3e3e;
        border-color: transparent;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FFC107;
}

@media (max-width: 768px) {
    .text-left {
        text-align: center;
    }
    .text-right {
        text-align: center;
    }
}

 ::-webkit-scrollbar-track {
    background-color: #CCCCCC;
}

 ::-webkit-scrollbar {
    width: 10px;
    background-color: #CCCCCC;
}

 ::-webkit-scrollbar-thumb {
    background-color: #ffde00;
}

small {
    color: #a7a7a7;
}

#template_calendar_card,
#template_news_card {
    display: none;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}

#loader_cursor {
    animation: loaderfade 500ms ease-out 0s alternate infinite;
    -webkit-animation: loaderfade 500ms ease-out 0s alternate infinite;
    -moz-animation: loaderfade 500ms ease-out 0s alternate infinite;
    -o-animation: loaderfade 500ms ease-out 0s alternate infinite;
}

@-webkit-keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

@-o-keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

@keyframes loaderfade {
    100% {
        opacity: 0;
    }
}

#loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1370;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: none;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
